{% extends "base.html"%}
{% block title %}Player Stats{% endblock %}
{% block content %}

 <!-- Main hero unit for a primary marketing message or call to action -->
 
	<div class="hero-new hero-margin drop-shadow curved curved-hz-1">
	  <div class="container">
        <h1 style="text-align:center">Fifth Base Official Power Rankings</h1>
        <h2 style="text-align:center">Measuring the true value of a softball player.</h2>
     </div>
   </div>
    <div class="container">
	
	<br><br><br>
	
<table class="table table-striped">
	<tr>
	   <th>Player</th>
	   <th>AB</th>
	   <th>H</th>
	   <th>1B</th>
	   <th>2B</th>
	   <th>3B</th>
	   <th>HR</th>
	   <th>RBI</th>
	   <th>AVG</th>
	   <th>SLG</th>
	   <th>wOBA</th>
	 </tr>

</table>
{% for player in players  %}<br>
{{ player.name }}<br>
{{ player.hometown }}<br>
{{ player.avg }}<br>

{{ brad }}<br>
<br>
{% endfor %}
{% endblock %}