{% extends "base.html"%}
{% block title %}Player Stats{% endblock %}
{% block content %}

 <!-- Main hero unit for a primary marketing message or call to action -->
 
	<div class="hero-new hero-margin drop-shadow curved curved-hz-1">
	  <div class="container">
        <h1 style="text-align:center">Fifth Base Official Power Rankings</h1>
        <h2 style="text-align:center">Measuring the true value of a softball player.</h2>
     </div>
   </div>
    <div class="container">
	
	<br><br><br>
	
<table class="table table-striped">
	<tr>
	   <th>Player</th>
	   <th>AB</th>
	   <th>H</th>
	   <th>1B</th>
	   <th>2B</th>
	   <th>3B</th>
	   <th>HR</th>
	   <th>AVG</th>
	   <th>SLG</th>
	   <th>wOBA</th>
	 </tr>
{% for player in players  %}

<tr>
<td>{{ player.name }}</td>
<td>{{ player.stats.0 }}</td>
<td>{{ player.stats.1 }}</td>
<td>{{ player.stats.2 }}</td>
<td>{{ player.stats.3 }}</td>
<td>{{ player.stats.4 }}</td>
<td>{{ player.stats.5 }}</td>
<td>{{ player.stats.6 }}</td>
<td>{{ player.stats.7 }}</td>
<td>{{ player.stats.8 }}</td>
</tr>
{% endfor %}
</table>

<br>
<br>
<br>



<br>

{% endblock %}